button {
  background: none;
  outline: none;
  border: none;
}

.btn,
.btn-1,
.btn-2,
.btn-3,
.btn-ghost {
  ---clr: var(--color);
  ---bg: var(--bg);
  color: var(---clr);
  fill: var(--fill, var(---clr));
  background: var(---bg);
  border-radius: 4px;
}

.btn:hover,
.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-ghost:hover {
  ---clr-hover: var(--color-hover, var(---clr));
  color: var(---clr-hover);
  fill: var(--fill-hover, var(---clr-hover));
  background-color: var(--bg-hover, var(---bg));
}

button,
.btn,
.btn-1,
.btn-2,
.btn-3,
.btn-ghost {
  cursor: pointer;
  user-select: none;
}
.btn-1,
.btn-2 {
  padding: var(--v-padding) var(--h-padding);
}

.btn-1 {
  --v-padding: 6px;
  --h-padding: 20px;
  --color: #fff;
  --loading-color: #fff;
  --bg: var(--accent, var(--green));
  --bg-hover: var(--accent-hover, var(--green-hover));
}
.btn-1.btn-3 {
  --color-hover: #fff;
}

.btn-2 {
  ---border: var(--border, var(--porcelain));
  --color-hover: var(--accent, var(--green));
  --v-padding: 5px;
  --h-padding: 19px;
  border: 1px solid var(---border);
}
.btn-2:hover {
  border-color: var(--border-hover, var(---border));
}
.btn-2.btn-1 {
  background: none;
  --color: var(--accent);
  --color-hover: var(--accent-hover);
}

.btn--l {
  --v-padding: 10px;
}
.btn--s {
  --h-padding: 12px;
}
.btn-2.btn--s {
  --h-padding: 11px;
}

.btn-3 {
  width: 32px;
  height: 32px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --color-hover: var(--accent, var(--green));
  --loading-size: 3px;
}
.btn-3.active {
  --bg: var(--accent-light-1, var(--green-light-1));
  --fill: var(--accent, var(--green));
  --fill-hover: var(--accent-hover, var(--green-hover));
}

.btn-ghost {
  padding: 6px 8px;
  --color: var(--black);
  --color-hover: var(--green);
  --bg-hover: var(--athens);
}

.btn--green {
  --color: #fff;
  --loading-color: #fff;
  --bg: var(--green);
  --bg-hover: var(--green-hover);
}

.btn--orange {
  --accent: var(--orange);
  --border: var(--orange);
  --accent-hover: var(--orange-hover);
  --border-hover: var(--orange-hover);
}

[class*='btn'][disabled],
[class*='btn'].disabled {
  --color: var(--mystic);
  --bg: var(--athens);
}
.btn-3.disabled {
  --bg: none;
}
