:root {
  /* white */
  --white: #fff;

  --whale: #fbfcfe;
  --athens: #f7f8fb;
  --porcelain: #e7eaf3;
  --casper: #9faac4;
  --waterloo: #7a859e;
  --fiord: #505573;
  --mystic: #d2d6e7;

  /* rhino */
  --black: #2f354d;

  /* jungle-green */
  --green: #14c393;
  --green-hover: #1fac85;
  --green-light-1: #edf8f5;
  --green-light-2: #dcf6ef;
  --green-light-3: #b0ebdb;

  --lima: #26c953;
  --lima-hover: #1bad44;
  --lima-light-1: #d6f6d6;

  /* persimmon */
  --red: #ff5b5b;
  --red-hover: #db4040;
  --red-light-1: #ffe6e6;
  --red-light-2: #efa7a7;

  /* bright-sun */
  --yellow: #ffcb47;
  --yellow-hover: #fbb80d;
  --yellow-light-1: #fff5da;

  /* texas-rose */
  --orange: #ffad4d;
  --orange-hover: #fd9317;
  --orange-light-1: #fff3e4;
  --orange-light-2: #ffe7ca;

  /* dodger-blue */
  --blue: #5275ff;
  --blue-hover: #375be9;
  --blue-light-1: #dae0fd;
  --blue-light-2: #ecf0fe;

  /* Heliotrope */
  --purple: #8358ff;
  --purple-hover: #6339dd;
  --purple-light-1: #f5f4ff;
  --purple-light-2: #e7e4ff;
  --purple-light-3: #d4c5ff;
  --purple-light-4: #c1abff;
}

.night-mode {
  /* mirage */
  --white: #181b2b;

  --whale: #1a1d2f;

  /* ebony-clay */
  --athens: #1c1f31;

  /* cloud-burst */
  --porcelain: #222639;

  /* fiord */
  --casper: #505573;

  /* bali-hai */
  --waterloo: #8b93b6;

  --fiord: #a2a7bd;

  /* rhino */
  --mystic: #2f354d;

  /* white */
  --black: #fff;

  /* jungle-green */
  --green-light-1: #142532;
  --green-light-2: #17343b;
  --green-light-3: #165e55;

  --lima-light-1: #1b3e33;

  /* bright-sun */
  --yellow-light-1: #2c2929;

  /* texas-rose */
  --orange-light-1: #3b3130;
  --orange-light-2: #503f3d;

  /* dodger-blue */
  --blue-light-1: #21284b;
  --blue-light-2: #1d223e;

  /* persimmon */
  --red-light-1: #3b2532;
  --red-light-2: #633b4c;

  /* Heliotrope */
  --purple-light-1: #1d1e35;
  --purple-light-2: #28244b;
  --purple-light-3: #3e3075;
  --purple-light-4: #4e3995;
}
