:root {
  /* white */
  --white: #fff;

  --whale: #FBFCFE;
  --athens: #f9fafc;
  --porcelain: #e7eaf3;
  --casper: #9faac4;
  --waterloo: #7a859e;
  --fiord: #505573;
  --mystic: #d2d6e7;

  /* rhino */
  --black: #2f354d;

  /* jungle-green */
  --green: #14c393;
  --green-hover: #1fac85;
  --green-light-1: #edf8f5;
  --green-light-2: #dcf6ef;
  --green-light-3: #76e5c2;

  /* persimmon */
  --red: #ff5b5b;
  --red-hover: #db4040;
  --red-light-1: #ffe6e6;
  --red-light-2: #efa7a7;

  /* bright-sun */
  --yellow: #ffcb47;
  --yellow-hover: #fbb80d;

  /* texas-rose */
  --orange: #ffad4d;
  --orange-hover: #fd9317;
  --orange-light-1: #fff3e4;
  --orange-light-2: #ffe7ca;

  /* dodger-blue */
  --blue: #5275ff;
  --blue-light-1: #dae0fd;
  --blue-light-2: #ecf0fe;


  /* Heliotrope */
  --purple: #8358FF;
  --purple-hover: #6339DD;
  --purple-light-1: #F5F4FF;
  --purple-light-2: #E7E4FF;
  --purple-light-3: #D4C5FF;
  --purple-light-4: #C1ABFF;
}

.night-mode {
  /* mirage */
  --white: #181b2b;

  --whale: #1A1D2F;

  /* ebony-clay */
  --athens: #1c1f31;

  /* cloud-burst */
  --porcelain: #222639;

  /* fiord */
  --casper: #505573;

  /* bali-hai */
  --waterloo: #8b93b6;

  --fiord: #A2A7BD;

  /* rhino */
  --mystic: #2f354d;


  /* white */
  --black: #fff;

  /* jungle-green */
  --green-light-1: #142532;
  --green-light-2: #17343b;
  --green-light-3: #38876f;

  /* texas-rose */
  --orange-light-1: #3b3130;
  --orange-light-2: #503f3d;

  /* dodger-blue */
  --blue-light-1: #21284b;
  --blue-light-2: #1d223e;

  /* persimmon */
  --red-light-1: #3b2532;
  --red-light-2: #633b4c;


  /* Heliotrope */
  --purple-light-1: #1D1E35;
  --purple-light-2: #28244B;
  --purple-light-3: #3E3075;
  --purple-light-4: #4E3995;
}
