[disabled],
.disabled {
  pointer-events: none;
}

input,
textarea {
  outline: none;
  border: 0;
  background: var(--white);
}

input::placeholder,
textarea::placeholder {
  color: var(--casper);
}

button {
  background: none;
  outline: none;
  border: none;
}

.btn,
.btn-1,
.btn-2,
.btn-3 {
  ---clr: var(--color);
  ---bg: var(--bg);
  color: var(---clr);
  fill: var(--fill, var(---clr));
  background: var(---bg);
  border-radius: 4px;
}

.btn:hover,
.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  ---clr-hover: var(--color-hover, var(---clr));
  color: var(---clr-hover);
  fill: var(--fill-hover, var(---clr-hover));
  background-color: var(--bg-hover, var(---bg));
}

button,
.btn,
.btn-1,
.btn-2,
.btn-3 {
  cursor: pointer;
  user-select: none;
  padding: var(--v-padding) var(--h-padding);
}

.btn-1 {
  --v-padding: 6px;
  --h-padding: 20px;
  --color: #fff;
  --dot-color: #fff;
  --bg: var(--accent, var(--green));
  --bg-hover: var(--accent-hover, var(--green-hover));
}
.btn-1.btn-3 {
  --color-hover: #fff;
}

.btn-2 {
  ---border: var(--border, var(--porcelain));
  --color-hover: var(--accent, var(--green));
  --v-padding: 5px;
  --h-padding: 19px;
  border: 1px solid var(---border);
}
.btn-2:hover {
  border-color: var(--border-hover, var(---border));
}

.btn--s {
  --h-padding: 12px;
}
.btn-2.btn--s {
  --h-padding: 11px;
}

.btn-3 {
  width: 32px;
  height: 32px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --color-hover: var(--accent, var(--green));
  --loading-size: 3px;
}
.btn-3.active {
  --bg: var(--accent-light-1, var(--green-light-1));
  --fill: var(--accent, var(--green));
  --fill-hover: var(--accent-hover, var(--green-hover));
}

.btn--green {
  --color: #fff;
  --dot-color: #fff;
  --bg: var(--green);
  --bg-hover: var(--green-hover);
}

.btn--ghost {
  padding: 6px 8px;
  --color: var(--black);
  --color-hover: var(--green);
  --bg-hover: var(--athens);
}

[class*='btn'][disabled],
[class*='btn'].disabled {
  --color: var(--mystic);
  --bg: var(--athens);
}

.hide {
  display: none;
}

.loading {
  position: relative;
  color: transparent !important;
  fill: transparent !important;
  pointer-events: none;
}
.loading::after {
  --dot-color: var(--loading-color, var(--color, var(--black)));
  font-size: var(--loading-size, 4px);
  position: absolute;
  content: '';
  left: 50%;
  top: calc(50% - 2em);
  width: 1em;
  transform: translate(-50%, -50%);
  height: 1em;
  border-radius: 50%;
  animation: SAN-load ease 0.8s infinite;
}

@keyframes SAN-load {
  0% {
    box-shadow: -2em 2em 0 -10px var(--dot-color), -2em 2em var(--dot-color),
      0 2em var(--dot-color), 2em 2em var(--dot-color);
  }

  100% {
    box-shadow: -2em 2em 0 0 var(--dot-color), 0 2em var(--dot-color),
      2em 2em var(--dot-color), 2em 2em 0 -5px var(--dot-color);
  }
}
