@import './buttons.css';

[disabled],
.disabled {
  pointer-events: none;
}

input,
textarea {
  outline: none;
  border: 0;
  background: var(--white);
}

input::placeholder,
textarea::placeholder {
  color: var(--casper);
}


.hide {
  display: none;
}

.loading {
  position: relative;
  color: transparent !important;
  fill: transparent !important;
  pointer-events: none;
}
.loading::after {
  --dot-color: var(--loading-color, var(--color, var(--black)));
  font-size: var(--loading-size, 4px);
  position: absolute;
  content: '';
  left: 50%;
  top: calc(50% - 2em);
  width: 1em;
  transform: translate(-50%, -50%);
  height: 1em;
  border-radius: 50%;
  animation: SAN-load ease 0.8s infinite;
}

@keyframes SAN-load {
  0% {
    box-shadow: -2em 2em 0 -10px var(--dot-color), -2em 2em var(--dot-color),
      0 2em var(--dot-color), 2em 2em var(--dot-color);
  }

  100% {
    box-shadow: -2em 2em 0 0 var(--dot-color), 0 2em var(--dot-color),
      2em 2em var(--dot-color), 2em 2em 0 -5px var(--dot-color);
  }
}
