.border {
  ---border: var(--border, var(--porcelain));
  border-radius: 4px;
  border: 1px solid var(---border);
  background: var(--white);
}

.border:hover {
  border-color: var(--border-hover, var(---border));
}

.box {
  box-shadow: 0 4px 8px rgba(24, 27, 43, 4%), 0 8px 16px rgba(24, 27, 43, 5%),
    0 12px 32px rgba(24, 27, 43, 5%);
}

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify {
  justify-content: space-between;
}

.hv-center {
  justify-content: center;
  align-items: center;
}

.h-center {
  justify-content: center;
}

.v-center {
  align-items: center;
}

.fluid {
  width: 100%;
}

.mrg-a {
  --margin: auto;
}

.mrg-xxl {
  --margin: 32px;
}

.mrg-xl {
  --margin: 24px;
}

.mrg-l {
  --margin: 16px;
}

.mrg-m {
  --margin: 12px;
}

.mrg-s {
  --margin: 8px;
}

.mrg-xs {
  --margin: 4px;
}

.mrg--t {
  margin-top: var(--margin);
}

.mrg--r {
  margin-right: var(--margin);
}

.mrg--b {
  margin-bottom: var(--margin);
}

.mrg--l {
  margin-left: var(--margin);
}

.relative {
  position: relative;
}

.expl-tooltip {
  position: relative;
}

.expl-tooltip:hover::before {
  position: absolute;
  content: attr(aria-label);
  font-size: 12px;
  line-height: 16px;
  background: #505573;
  color: #fff;
  border-radius: 4px;
  padding: 5px 12px;
  width: var(--expl-width, auto);
  white-space: var(--expl-white-space, nowrap);
  right: var(--expl-right);
  left: var(--expl-left);
  bottom: var(--expl-bottom);
  top: var(--expl-position-y, -6px);
  transform: translate(var(--expl-align-x, 0), var(--expl-align-y, -100%));
  z-index: var(--expl-z-index, 30);
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-scroll {
  overflow: hidden;
}

.hover-scroll:hover {
  overflow-y: auto;
  overflow-y: overlay;
}

/**
 * Used for making a background of the relative parent behave like link.
 * Example: insight's card or feed item.
 */
.link-as-bg::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
